<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Prep. Time</th>
        <th>Cook. Time</th>
        <th>Difficulty</th>
        <th>Servings</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">Red chair</td>
        <td th:text="${recipe.prepTime}">Red chair</td>
        <td th:text="${recipe.cookTime}">Red chair</td>
        <td th:text="${recipe.difficulty}">Red chair</td>
        <td th:text="${recipe.servings}">Red chair</td>
    </tr>
    </tbody>
</table>
</body>
</html>